<div class="container-fluid">

	<div class="row">
		<div class="col-md-12">
			<div class="text-bg">

			<h1>Hello <%= current_user.fname %>!</h1>


			<% if current_user %>

				<h2>My info:</h2>
				<%= current_user.fname %>
				<%= current_user.lname %>
				<br>
				<%= current_user.email %>
				<br>

			<%= current_user.restaurants.last.name %>
			<%= current_user.restaurants.last.posts %>
			<%= current_user.restaurants.last.created_at %>	
			<img src= <%= current_user.restaurants.last.avatar %> > </img>
					<% end %>
<div class="fulldiary">
<% current_user.restaurants.each do |entry| %>
<ul class="diary-entry">
	<li class="diary-attribute"> <%= entry.date_visited %> </li>
	<li class="diary-attribute"> <%= entry.name %> </li>
	<li class="diary-attribute"><img src=<%= entry.avatar %> > </img> </li>
	<li class="diary-attribute"> <%= entry.posts %>  </li>	
</ul>

<% end %>
</div>


<button class="btn"><a href=<%= '/users/edit' %>>Edit Your Profile</a></button>

</div>
</div>
</div>
</div>