<% @response.businesses.each do |restaurant| %>
<p><%= restaurant.name %></p>
<p><%= restaurant.phone %></p>
<button>
<%= form_for @restaurant do |f| %>
	<%= f.hidden_field :yelp_id, value: restaurant.id %> 
	<%= f.hidden_field :name, value: restaurant.name %> 
	<%= f.hidden_field :description, value: restaurant.snippet_text %>
	<%= f.submit "I went here", class: "btn" %>
<% end %>
<% end %>
