<div class="header-clear">
</div>

<div class="search-results">
	<% @response.businesses.each do |restaurant| %>
	<div class="restaurant-card">
		<p><%= restaurant.name %></p>
		<p><%= restaurant.phone %></p>
		<img src= <%= restaurant.image_url %> > </img><br>
		<button id="modal" data-toggle="modal" data-target="#<%= restaurant.id %>"> Leave A Review</button>
	</div>
	<% end %>
</div>

<%= render 'modal' %>
