<!DOCTYPE html>
<html>
  <head>
    <title>Phoodlogr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<%= form_tag('/v2/search', :method => "get", id: "search-form") do %>
       <%= text_field_tag :search, :value => params[:search], placeholder: "Search Restaurants" %>
       <%= submit_tag "Search", :name => nil %>

 <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
      
 <% end %>
    <%= yield %>
  </body>
</html>
